<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :email %>
  <%= textarea f, :email %>
  <%= error_tag f, :email %>

  <%= label f, :password %>
  <%= textarea f, :password %>
  <%= error_tag f, :password %>

  <%= label f, :first_name %>
  <%= textarea f, :first_name %>
  <%= error_tag f, :first_name %>

  <%= label f, :last_name %>
  <%= textarea f, :last_name %>
  <%= error_tag f, :last_name %>

  <%= label f, :phone %>
  <%= textarea f, :phone %>
  <%= error_tag f, :phone %>

  <%= label f, :dob %>
  <%= datetime_select f, :dob %>
  <%= error_tag f, :dob %>

  <%= label f, :avatar %>
  <%= textarea f, :avatar %>
  <%= error_tag f, :avatar %>

  <%= label f, :status %>
  <%= textarea f, :status %>
  <%= error_tag f, :status %>

  <%= label f, :reset_password_token %>
  <%= textarea f, :reset_password_token %>
  <%= error_tag f, :reset_password_token %>

  <%= label f, :active_email_token %>
  <%= textarea f, :active_email_token %>
  <%= error_tag f, :active_email_token %>

  <%= label f, :fb_id %>
  <%= textarea f, :fb_id %>
  <%= error_tag f, :fb_id %>

  <%= label f, :fb_access_token %>
  <%= textarea f, :fb_access_token %>
  <%= error_tag f, :fb_access_token %>

  <%= label f, :g_id %>
  <%= textarea f, :g_id %>
  <%= error_tag f, :g_id %>

  <%= label f, :g_token %>
  <%= textarea f, :g_token %>
  <%= error_tag f, :g_token %>

  <%= label f, :g_refresh_token %>
  <%= textarea f, :g_refresh_token %>
  <%= error_tag f, :g_refresh_token %>

  <%= label f, :otp_token %>
  <%= textarea f, :otp_token %>
  <%= error_tag f, :otp_token %>

  <%= label f, :gender %>
  <%= textarea f, :gender %>
  <%= error_tag f, :gender %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
