<h3>AHIHI</h3>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Password</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Dob</th>
      <th>Avatar</th>
      <th>Status</th>
      <th>Reset password token</th>
      <th>Active email token</th>
      <th>Fb</th>
      <th>Fb access token</th>
      <th>G</th>
      <th>G token</th>
      <th>G refresh token</th>
      <th>Otp token</th>
      <th>Gender</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.password %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.phone %></td>
      <td><%= user.dob %></td>
      <td><%= user.avatar %></td>
      <td><%= user.status %></td>
      <td><%= user.reset_password_token %></td>
      <td><%= user.active_email_token %></td>
      <td><%= user.fb_id %></td>
      <td><%= user.fb_access_token %></td>
      <td><%= user.g_id %></td>
      <td><%= user.g_token %></td>
      <td><%= user.g_refresh_token %></td>
      <td><%= user.otp_token %></td>
      <td><%= user.gender %></td>

      <td>
        <%= link "Show", to: Routes.user_path(@conn, :show, user) %>
        <%= link "Edit", to: Routes.user_path(@conn, :edit, user) %>
        <%= link "Delete", to: Routes.user_path(@conn, :delete, user), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New User", to: Routes.user_path(@conn, :new) %></span>
