<h1>Show User</h1>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Password:</strong>
    <%= @user.password %>
  </li>

  <li>
    <strong>First name:</strong>
    <%= @user.first_name %>
  </li>

  <li>
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </li>

  <li>
    <strong>Phone:</strong>
    <%= @user.phone %>
  </li>

  <li>
    <strong>Dob:</strong>
    <%= @user.dob %>
  </li>

  <li>
    <strong>Avatar:</strong>
    <%= @user.avatar %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @user.status %>
  </li>

  <li>
    <strong>Reset password token:</strong>
    <%= @user.reset_password_token %>
  </li>

  <li>
    <strong>Active email token:</strong>
    <%= @user.active_email_token %>
  </li>

  <li>
    <strong>Fb:</strong>
    <%= @user.fb_id %>
  </li>

  <li>
    <strong>Fb access token:</strong>
    <%= @user.fb_access_token %>
  </li>

  <li>
    <strong>G:</strong>
    <%= @user.g_id %>
  </li>

  <li>
    <strong>G token:</strong>
    <%= @user.g_token %>
  </li>

  <li>
    <strong>G refresh token:</strong>
    <%= @user.g_refresh_token %>
  </li>

  <li>
    <strong>Otp token:</strong>
    <%= @user.otp_token %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.user_path(@conn, :edit, @user) %></span>
<span><%= link "Back", to: Routes.user_path(@conn, :index) %></span>
