<%= form_for @changeset, Routes.page_path(@conn, :do_sign_up), fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :email %>
  <%= text_input f, :email %>
  <%= error_tag f, :email %>

  <%= label f, :password %>
  <%= password_input f, :password %>
  <%= error_tag f, :password %>

  <%= label f, :first_name %>
  <%= text_input f, :first_name %>
  <%= error_tag f, :first_name %>

  <%= label f, :last_name %>
  <%= text_input f, :last_name %>
  <%= error_tag f, :last_name %>

  <%= label f, :phone %>
  <%= text_input f, :phone %>
  <%= error_tag f, :phone %>

  <%= label f, :dob %>
  <%= datetime_select f, :dob %>
  <%= error_tag f, :dob %>

  <%= label f, :avatar %>
  <%= textarea f, :avatar %>
  <%= error_tag f, :avatar %>

  <%= label f, :gender %>
  <%= select f, :gender, MokaAuth.Account.User.gender_enum %>
  <%= error_tag f, :gender %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
